.container {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.wrapper {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}

.input {
  appearance: none;
  background-color: var(--color-bg-primary);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 1px solid var(--color-border-strong);
  border-radius: 0.15em;
  display: grid;
  place-content: center;
  transition: all var(--transition-fast);
  cursor: pointer;
}

.input::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--color-text-inverse);
  background-color: var(--color-text-inverse);
}

.input:checked {
  background-color: var(--color-brand-primary);
  border-color: var(--color-brand-primary);
}

.input:checked::before {
  transform: scale(1);
}

.input:focus-visible {
  outline: max(2px, 0.15em) solid var(--color-info-bg);
  outline-offset: max(2px, 0.15em);
}

.input:disabled {
  background-color: var(--color-bg-tertiary);
  border-color: var(--color-border-default);
  cursor: not-allowed;
}

.input:disabled:checked::before {
  background-color: var(--color-text-tertiary);
  box-shadow: inset 1em 1em var(--color-text-tertiary);
}

.hasError {
  border-color: var(--color-error);
}

.label {
  font-family: var(--font-family-base);
  font-size: var(--font-size-md);
  color: var(--color-text-primary);
  cursor: pointer;
}

.label.disabled {
  color: var(--color-text-tertiary);
  cursor: not-allowed;
}

.errorText {
  font-family: var(--font-family-base);
  font-size: var(--font-size-sm);
  color: var(--color-error);
}
